.App {
  background-image: url("./images/football-1.gif");
  background-color: black;
  border: 2px solid rgb(32, 31, 31);
  background-size: cover;
  min-height: 100vh;
  height: 100%;
  text-align: center;
}